.movies-card {

    max-width: 1800px;
    margin-right: auto;
    margin-left: auto;
    display: grid;
    column-gap: 10px;
    /*grid-template-columns: 1fr 1fr 1fr 1fr;*/
    grid-template-columns: repeat(4, 1fr);
    margin-top: 5%;
}


.movie-cover {
    width: 100%;
}