.tag:hover{
    transform: scale(1.05);
    color: #EE9B00;
    border-bottom: 2px solid #EE9B00;
    padding-bottom: 5px;
}

.tag{
    /*color:white;*/
    padding:10px 20px;
    color: #eac786;
    border-radius: 50px;
    margin:5px;
    display:inline-block;
    cursor: pointer;
}
