.tag:hover{
    transform: scale(1.05);
    color: #EE9B00;
    border-bottom: 4px solid #EE9B00;
    padding-bottom: 4px;
}

.tag{
    padding:10px 15px;
    color: #eac786;
    border-radius: 10px;
    margin:5px;
    display:inline-block;
}
